<div class="author">
    <h1 class="author_heading">Hi, I am Sushant.</h1>
    <p class=""author_body>Web Developer and Content Creator.</p>
</div>

<img src="https://imgs.search.brave.com/x5BbuD7K1QqsSamNluaIgw4HaS5HzkTnURgNFmM7CSg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93MC5w/ZWFrcHguY29tL3dh/bGxwYXBlci8xODQv/MjgwL0hELXdhbGxw/YXBlci1wZXJzb24t/bG9va2luZy1vdXQt/dGhyb3VnaC13aW5k/b3cuanBn" alt="person with a laptop" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination"> &lt; View Older Posts</a>
</section>